<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>오점머 추천 페이지 1</title>
    <style>
        .form-check {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" style="max-width:600px"></div>
<h1>
    <div style="text-align:center">오늘의 점심 메뉴</div>
</h1>
<h3>
    <div style="text-align:center">오늘 뭐 먹지?</div>
</h3>
<hr class="my-4">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="Korean">
    <label class="form-check-label" for="Korean">
        한식
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="Japanese" checked>
    <label class="form-check-label" for="Japanese">
        일식
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="Chinese" checked>
    <label class="form-check-label" for="Chinese">
        중식
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="Western" checked>
    <label class="form-check-label" for="Western">
        양식
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="All" checked>
    <label class="form-check-label" for="All">
        전체 선택하기
    </label>
</div>
<div style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"
            th:onclick="|location.href='@{/location}'|">
        추천 받기!
    </button>
</div>
</body>
</html>
