<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>오점머 추천 페이지 3</title>
    <style>
        .my-4{
            background-image: url('https://pin.it/5WbqG8P');
            background-position: center;
            background-size: cover;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" style="max-width:600px"></div>
<h1>
    <div style="text-align:center">오늘의 점심 메뉴</div>
</h1>
<h3>
    <div style="text-align:center">현재 위치를 확인해 주세요</div>
</h3>

<hr class="my-4">
<div style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"
            th:onclick="|location.href='@{/list}'|">
        위치 선택 완료!
    </button>

</div>
</body>
</html>