<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy"content="upgrade-insecure-requests"/>
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/script.js"></script>
  <title>로그인 성공</title>
  <!-- FAVICON -->
  <link rel="icon" type="image/ico" href="/icons/favicon-16x16.ico" sizes="16x16">
  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">

  <style>
    .btn {
      display: block;
      margin: 20px auto;
      font-size: 1.0em;
      padding: 8px 16px;
      border-radius: 8px;
      background-color: #007BFF;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  </style>
</head>
<body>
<div id="content" style="display: none;">
  <div>로그인에 성공했습니다.</div>
  <button onclick="window.location.href='/boss/allRestaurants'" class="btn">
    음식점 전체 조회
  </button>
</div>

<!-- 필요한 JavaScript 파일 -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    const host = window.location.origin;

    // 세션을 확인하여 로그인 상태를 체크
    $.ajax({
      type: "GET",
      url: `${host}/v1/admin/get-session`,
      success: function (response) {
        if (response.data === "OJM Auth") {
          $('#content').show();
        } else {
          window.location.href = `${host}/login`;
        }
      },
      error: function () {
        // 세션이 없으면 로그인 페이지로 리다이렉트합니다.
        window.location.href = `${host}/login`;
      }
    });
  });
</script>
</body>
</html>
