<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
  <script src="/js/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>음식점 전체 조회</title>
  <style>
    .container {
      text-align: center;
      margin-top: 20px;
      position: relative;
    }

    .restaurant-item {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      text-align: left;
    }

    .pagination-controls {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .pagination-controls button {
      margin: 0 5px;
    }

    .pagination-info {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .size-input {
      margin: 10px;
    }

    .total-count {
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .category-input {
      margin: 10px;
    }
  </style>
</head>
<body>
<div class="container" id="content" style="display: none;">
  <h1>음식점 전체 조회</h1>

  <!-- 카테고리 선택 UI -->
  <div class="category-input">
    <label for="categorySelect">카테고리 선택: </label>
    <select id="categorySelect">
      <option value="">전체</option>
      <option value="한식">한식</option>
      <option value="일식">일식</option>
      <option value="중식">중식</option>
      <option value="양식">양식</option>
      <option value="기타">기타</option>
    </select>
  </div>

  <!-- 키워드 검색 UI -->
  <div class="category-input">
    <label for="keywordInput">키워드 검색: </label>
    <input type="text" id="keywordInput" placeholder="음식점 이름 검색">
  </div>

  <div class="size-input">
    <label for="sizeInput">페이지 당 음식점 수: </label>
    <input type="number" id="sizeInput" min="1" value="5">
  </div>

  <button onclick="searchRestaurants()">검색</button>

  <div class="total-count" id="totalCount">총 음식점 수: 0</div>

  <div id="restaurants-list"></div>

  <div class="pagination-info">
    <div class="pagination-controls">
      <button id="prevBtn" onclick="prevPage()" class="btn">&lt;</button>
      <span id="pageIndicator"></span>
      <button id="nextBtn" onclick="nextPage()" class="btn">&gt;</button>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script>
  let currentPage = 1;
  let totalPages = 1;
  let pageSize = 5;
  let selectedCategory = '';
  let keyword = '';

  function getRestaurants(page, size, category, keyword) {
    const url = `/v1/admin/restaurants?page=${page - 1}&size=${size}&category=${category}&keyword=${keyword}`;

    fetch(url, {
      method: 'GET',
      credentials: 'same-origin',
    })
    .then(response => response.json())
    .then(data => {
      console.log('Received data:', data);
      const restaurantsList = document.getElementById('restaurants-list');
      restaurantsList.innerHTML = '';

      data.data.responseDtoList.forEach(restaurant => {
        const restaurantElement = document.createElement('div');
        restaurantElement.classList.add('restaurant-item');
        restaurantElement.innerHTML = `
            <p><strong>이름:</strong> ${restaurant.name}</p>
            <p><strong>카테고리:</strong> ${restaurant.category}</p>
            <p><strong>주소:</strong> ${restaurant.address}</p>
        `;
        restaurantsList.appendChild(restaurantElement);
      });

      const pageIndicator = document.getElementById('pageIndicator');
      pageIndicator.textContent = `${data.data.currentPage} / ${data.data.totalPage}`;

      currentPage = data.data.currentPage;
      totalPages = data.data.totalPage;
      updatePaginationButtons();

      const totalCount = document.getElementById('totalCount');
      totalCount.textContent = `총 음식점 수: ${data.data.totalElements}`;
    })
    .catch(error => console.error('Error fetching data:', error));
  }


  function prevPage() {
    if (currentPage > 1) {
      getRestaurants(currentPage - 1, pageSize, selectedCategory, keyword);
    }
  }

  function nextPage() {
    if (currentPage < totalPages) {
      getRestaurants(currentPage + 1, pageSize, selectedCategory, keyword);
    }
  }

  function searchRestaurants() {
    const sizeInput = document.getElementById('sizeInput').value;
    pageSize = parseInt(sizeInput) || pageSize;

    const categorySelect = document.getElementById('categorySelect').value;
    selectedCategory = categorySelect;

    const keywordInput = document.getElementById('keywordInput').value;
    keyword = keywordInput.trim();

    getRestaurants(currentPage, pageSize, selectedCategory, keyword);
  }

  document.addEventListener('DOMContentLoaded', () => {
    const host = window.location.origin;

    $.ajax({
      type: "GET",
      url: `${host}/v1/admin/get-session`,
      success: function (response) {
        if (response.data === "OJM Auth") {
          $('#content').show();
          getRestaurants(currentPage, pageSize, selectedCategory, keyword);
        } else {
          window.location.href = `${host}/boss`;
        }
      },
      error: function () {
        window.location.href = `${host}/boss`;
      }
    });
  });

  function updatePaginationButtons() {
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');

    prevBtn.disabled = (currentPage === 1);
    nextBtn.disabled = (currentPage === totalPages);
  }
</script>

</body>
</html>
