<!DOCTYPE html>
<html lang="ko">
<head>
    <title>오늘 점심 뭐먹지?</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/ico" href="/static/icons/favicon-16x16.ico" sizes="16x16">
    <link rel="shortcut icon" href="/static/icons/favicon-16x16.ico" type="image/x-icon">

    <meta charset="utf-8">
    <!-- CSP: 로컬 개발 시 주석 처리, HTTPS 사용 시 활성화 -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* 모바일 화면에서의 스타일 */
        @media (max-width: 640px) {
            h1 {
                font-size: calc(1.5rem + 2vw); /* 화면 크기에 맞춰 글씨 크기 조정 */
                white-space: nowrap; /* 줄넘김 방지 */
                overflow: hidden; /* 넘치는 글씨 숨김 */
                text-align: center; /* 중앙 정렬 */
                margin: 0; /* 기본 여백 제거 */
                padding: 0; /* 기본 패딩 제거 */
            }
        }

        .logo {
            display: block;
            margin: 0 auto 50px;
            width: auto;
            height: 80px;
        }
        </style>
</head>
<body>
<div class="flex min-h-[100dvh] flex-col items-center justify-center bg-background px-4 py-12 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-md text-center">
        <a href="/home">
            <img src="/static/icons/favicon.png" alt="오늘 점심 뭐먹지? 로고" class="logo">
        </a>
        <h1 class="text-4xl font-bold tracking-tight text-foreground">
            당신의 식사를 정해드려요
        </h1>
        <div id="category-section">
            <div class="mt-8 space-y-4">
                <p class="mt-4 text-muted-foreground">
                    추천받고 싶은 음식을 모두 선택해주세요
                </p>
                <div class="form-check">
                    <input type="checkbox" value="" id="All" onclick="selectAllCategory()">
                    <label for="All">
                        전체
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="" id="Korean" checked onclick="updateSelectAllCheckbox()">
                    <label for="Korean">
                        한식
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="" id="Japanese" onclick="updateSelectAllCheckbox()">
                    <label for="Japanese">
                        일식
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="" id="Chinese" onclick="updateSelectAllCheckbox()">
                    <label for="Chinese">
                        중식
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="" id="Western" onclick="updateSelectAllCheckbox()">
                    <label for="Western">
                        양식
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="" id="ETC" onclick="updateSelectAllCheckbox()">
                    <label for="ETC">
                        기타
                    </label>
                </div>
            </div>
            <div class="mt-6">
                <button th:onclick="|sendCategorySelection('@{/result}')|"
                        class="inline-flex h-10 items-center justify-center rounded-md bg-black px-8 text-sm font-medium text-white shadow transition-colors hover:bg-black/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
                    오늘의 점심 메뉴 추천받으러 가기!
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function resolveCategoryElementIds() {
        return ['Korean', 'Japanese', 'Chinese', 'Western', 'ETC']
    }

    function selectAllCategory() {
        resolveCategoryElementIds().forEach(category => {
            document.getElementById(category).checked = document.getElementById('All').checked;
        });
    }

    function updateSelectAllCheckbox() {
        const allCheckbox = document.getElementById('All')
        allCheckbox.checked = resolveCategoryElementIds()
            .every(category => document.getElementById(category).checked)
    }

    function sendCategorySelection(redirectUrl) {
        // 현재 검색중 데이터 저장
        let selectedCategories = resolveCategoryElementIds().filter(category => document.getElementById(category).checked);
        sessionStorage.setItem('categories', JSON.stringify(selectedCategories))

        // 로컬 스토리지 최근 검색 내역 저장
        let previousSearchHistories = fetchSearchHistories();
        previousSearchHistories.unshift({
            coordinate: {
                latitude: sessionStorage.getItem('latitude'),
                longitude: sessionStorage.getItem('longitude'),
            },
            categories: selectedCategories
        })
        saveSearchHistories(previousSearchHistories)

        // 페이지 이동
        window.location.href = redirectUrl
    }

    function fetchSearchHistories() {
        const previousSearchHistories = localStorage.getItem('previousSearchHistories')
        if (previousSearchHistories == null) {
            return []
        }
        return JSON.parse(previousSearchHistories)
    }

    function saveSearchHistories(searchHistories) {
        localStorage.setItem('previousSearchHistories', JSON.stringify(searchHistories))
    }

</script>
</body>
</html>
