<!DOCTYPE html>
<html lang="ko">
<head>
    <title>OJM</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex min-h-[100dvh] flex-col items-center justify-center bg-background px-4 py-12 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-md text-center">
        <h1 class="my-8 text-4xl font-bold tracking-tight text-foreground">
            당신의 식사를 정해드려요
        </h1>
        <div id="location-section">
            <p class="mt-4 text-muted-foreground">
                위치에 접근할 수 있도록 브라우저 상단에 엑세스 권한을 허용해주세요!
            </p>
            <div class="mt-6">
                <button class="inline-flex h-10 items-center justify-center rounded-md bg-black px-8 text-sm font-medium text-white shadow transition-colors hover:bg-black/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
                        onclick="clickCurrentLocation()">
                    현재 위치를 알려주세요!
                </button>
            </div>
        </div>
        <div id="map-container" class="hidden flex-col items-center gap-8">
            <div class="relative w-full max-w-md rounded-lg overflow-hidden shadow-lg transition-all duration-300 ease-in-out transform-gpu">
                <div id="map" class="w-full h-[300px] bg-gray-200"></div>
            </div>
            <p class="my-8 text-muted-foreground">
                현재 위치한 곳이 맞는 지 확인해주세요
            </p>
            <button th:onclick="|window.location.href='@{/category}'|"
                    class="inline-flex h-10 items-center justify-center rounded-md bg-black px-8 text-sm font-medium text-white shadow transition-colors hover:bg-black/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
                카테고리도 선택해주세요!
            </button>
        </div>
        <div id="previousSearchArea" class="hidden">
            <p class="mt-4 text-muted-foreground">
                최근에 찾아봤던 내역이에요
            </p>
            <div id="searchHistoryArea" class="grid grid-cols-1 gap-8 sm:grid-cols-3" style="display:block;"></div>
        </div>
    </div>
</div>
<script type="text/javascript"
        th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoAppKey}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let searchHistories = fetchSearchHistories();
        if (searchHistories.length === 0) {
            return
        }
        document.getElementById('previousSearchArea').style.display = 'block';

        var previousSearchElements = "";

        searchHistories.forEach(it => {
            if (it.coordinate == null || it.categories == null) {
                return
            }
            previousSearchElements +=
                "<div class=\"previousSearchItem bg-card rounded-lg w-auto shadow-md\">\n" +
                "    <h3 class=\"text-lg font-medium\">" + it.coordinate.latitude + " / " + it.coordinate.longitude + "</h3>\n" +
                "    <p class=\"mt-2 text-muted-foreground\">" + it.categories.map(c => displayCategoryText(c)).join(' ') + "</p>\n" +
                "</div>";
        })
        document.getElementById('searchHistoryArea').innerHTML = previousSearchElements
    });

    function fetchSearchHistories() {
        const previousSearchHistories = localStorage.getItem('previousSearchHistories')
        if (previousSearchHistories == null) {
            return []
        }
        return JSON.parse(previousSearchHistories)
    }

    function displayKakaoMap(latitude, longitude) {
        let position = new kakao.maps.LatLng(latitude, longitude);
        var map = new kakao.maps.Map(
            document.getElementById('map'),
            mapOption = {
                center: position,
                level: 3
            }
        );
        var marker = new kakao.maps.Marker({
            position: position
        });
        marker.setMap(map);
    }

    function clickCurrentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    document.getElementById('location-section').style.display = 'none';
                    document.getElementById('map-container').classList.remove('hidden');

                    // 지도 그리기
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    displayKakaoMap(latitude, longitude);

                    // 검색 히스토리 추가
                    document.getElementById('previousSearchArea').style.display = 'none';

                    // 현재 추천중인 검색
                    sessionStorage.setItem('latitude', latitude);
                    sessionStorage.setItem('longitude', longitude);
                },
                function (error) {
                    console.error('Error getting location:', error);
                }
            );
        } else {
            console.error('Geolocation is not supported by this browser.');
        }

    }

    function displayCategoryText(categoryType) {
        if (categoryType === 'Korean') {
            return '한식'
        }
        if (categoryType === 'Japanese') {
            return '일식'
        }
        if (categoryType === 'Chinese') {
            return '중식'
        }
        if (categoryType === 'Western') {
            return '양식'
        }
        return '기타'
    }
</script>
</body>
</html>
