<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy"content="upgrade-insecure-requests"/>
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- FAVICON -->
  <link rel="icon" type="image/ico" href="/icons/favicon-16x16.ico" sizes="16x16">
  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">

</head>
<body>
<div id="login-form">
  <div id="login-title">Log into OJM</div>

  <div>
    <div class="login-id-label">아이디</div>
    <input type="text" name="id" id="id" class="login-input-box">

    <div class="login-id-label">비밀번호</div>
    <input type="password" name="password" id="password" class="login-input-box">

    <button id="login-id-submit">로그인</button>
    <button id="encrypt-password-submit">비밀번호 암호화</button>
  </div>

  <!-- 로그인 실패 시 메시지 -->
  <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
</div>

<!-- 필요한 JavaScript 파일 -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<script>
  $(document).ready(function () {
    const host = window.location.origin;

    // 세션을 확인하여 로그인 상태를 체크
    $.ajax({
      type: "GET",
      url: `${host}/v1/admin/get-session`,
      success: function (response) {
        if (response.data === "OJM Auth") {
          window.location.href = `${host}/adminPage`;
        }
      },
      error: function () {
        // 세션이 없으면 로그인 페이지를 표시합니다.
        $('#login-form').show();
      }
    });

    const queryString = new URLSearchParams(window.location.search);
    if (queryString.get('error')) {
      $('#login-failed').show();
    }

    $('#login-id-submit').click(function () {
      let id = $('#id').val();
      let password = $('#password').val();

      $.ajax({
        type: "POST",
        url: `${host}/v1/admin/login`,
        contentType: "application/json",
        data: JSON.stringify({ id: id, password: password }),
        success: function () {
          // 로그인 성공 시 admin 페이지로 이동합니다.
          window.location.href = `${host}/boss/adminPage`;
        },
        error: function () {
          alert("Login Fail");
          window.location.href = `${host}/v1/admin?error`;
        }
      });
    });

    $('#encrypt-password-submit').click(function () {
      let id = $('#id').val();
      let password = $('#password').val();

      $.ajax({
        type: "POST",
        url: `${host}/v1/admin/encodePassword`,
        contentType: "application/json",
        data: JSON.stringify({ id: id, password: password }),
        success: function () {
          alert("비밀번호가 암호화되었습니다");
        },
        error: function () {
          alert("비밀번호 암호화 실패");
        }
      });
    });
  });
</script>
</body>
</html>
