<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{defaultLayout}"
      layout:fragment="Content"
>
<head>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <h1>
        <div style="text-align:center">오늘의 점심 메뉴</div>
    </h1>
    <h3>
        <div style="text-align:center">오늘 뭐 먹지?</div>
    </h3>
    <hr class="my-4">
    <p id="location"></p> <!-- 위치 정보를 표시할 요소 -->
    <p id="category"></p> <!-- 카테고리 정보를 표시할 요소 -->
    <ol class="list-group list-group-numbered" id="restaurantList">
        <!-- 여기에 음식점 목록 표시 -->
    </ol>
    <div class="alert alert-warning" role="alert" style="display:none">
        근처에 해당되는 음식점이 존재하지 않습니다.<br>
        카데고리를 재선택하거나, 다른 곳으로 이동해주세요.
    </div>
    <div style="text-align:center">
        <button id="reloadButton" type="button" class="btn btn-primary btn-lg">다시 추천 받기!</button>
        <button id="selectCategoryButton" type="button" class="btn btn-secondary btn-lg">카테고리 다시 선택하기</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#reloadButton').on('click', function() {
            recommend(); // 추천 받기 실행
        });
        $('#selectCategoryButton').on('click', function() {
            window.location.href = '/page3'; // 카테고리 선택 페이지로 이동
        });
        recommend(); // 페이지 로딩 시 추천 받기 실행
    });

    $(document).ready(function() {
        // 세션 스토리지에서 데이터를 가져옵니다.
        var latitude = sessionStorage.getItem('latitude');
        var longitude = sessionStorage.getItem('longitude');
        var categoryString = sessionStorage.getItem('category');
        var category = JSON.parse(categoryString);

        // 확인용
        $('#location').text('위도: ' + latitude + ', 경도: ' + longitude);
        $('#category').text('선택한 카테고리: ' + category.join(', ')); // 배열의 요소들을 쉼표로 구분하여 문자열로 변환합니다.

        // 백엔드로 현위치와 카테고리 정보를 전송
        $.ajax({
            method: "POST",
            url: "/v1/ojm/restaurant",
            data: {latitude: latitude, longitude: longitude, category: category.join()},
            success: function (data) {
                displayRestaurants(data);
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });

        function displayRestaurants(restaurants) {
            var list = $('#restaurantList');
            list.empty(); // 기존 목록을 비움
            restaurants.forEach(function (restaurant) {
                list.append('<li class="list-group-item">' + restaurant.restaurantName + '</li>');
            });
        }
    });
</script>

</body>
</html>
